#uploaderArea {
  border: 2px solid rgb(13, 110 ,253);
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px;
  text-align: center;
}

#fileUploader{
  display: flex;
  flex-direction: column;
}

label{
  background: #607D8B;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

button{
  background: #607D8B;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}


*, *::after, *::before {
  box-sizing: border-box;
}

.upload-btn {
  background: #607D8B;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}